<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>serofero.net - {% block 'title' %}serofero{% endblock 'title' %}</title>

    <link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css">
    <link href="{% static 'fonts/cg.ttf' %}" rel="stylesheet" tpye="text/css">

    {% comment %}
    <!--Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/creative.css' %}" type="text/css">

		{% endcomment %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
        <div id="header">
            <div class="header-content-inner">
                <h1>Serofero</h1>
                <hr>
                <div class='row'>
                        {% if categories %}
                            {% for category in categories %}
                                <div class="nav_bar"><a href="{% url 'category' category.slug %}">{{category.name}}</a></div>
                            {% endfor %}
                        {% endif %}
                </div>
                <hr>
            </div>
        </div>
 {% block 'body' %}

 {% endblock 'body' %}
<footer class="footer">
      <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3">About us</div>
                <div class="col-lg-3 col-sm-3">Terms and Conditions</div>
                <div class="col-lg-3 col-sm-3">Privacy Policy</div>
                <div class="col-lg-3 col-sm-3">Copyright (c) 2015</div>
            </ul>
      </div>
</footer>
</body>

</html>
