{% extends 'sf/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- start content bottom left -->
<div class="content_bottom_left">

    <div style="visibility: visible; animation-name: fadeInDown;" class="single_category wow fadeInDown animated">
      <h2>                  
        <span class="bold_line"><span></span></span>
        <span class="solid_line"></span>
      </h2>

      <div style="visibility: visible; animation-name: fadeInDown;" class="wow fadeInDown animated">
        <ul class="fashion_catgnav">
          <li>
              <div class="catgimg2_container" style="height:auto;">
                {% if article.image %}
                    <a href="{{ first_article.url }}">
                        <img alt="img" src="{{ first_article.image.url }}" style="height:auto;">
                    </a>
                {% else %}
                    <a href="{{ first_article.url }}">
                        <img alt="img" src="https://placeholdit.imgix.net/~text?txtsize=42&txt=Serofero&w=450&h=200&txttrack=0" style="height:auto;">
                    </a>
                {% endif %}
            </div>

            <h2 class="catg_titile"><a href="{{ first_article.url }}">{{first_article.title}}</a></h2>

            <div class="comments_box">
              <span class="meta_date">14/12/2013</span>
              <span class="meta_comment"><a href="#">No Comments</a></span>
              <span class="meta_more"><a href="#">Read More...</a></span>
            </div>
            <p style="clear:both;">{{first_article.content}}</p>
          </li>
        </ul>
      </div>  

    </div>
    
    <div class="single_category">
        {% for article in articles %}
            <div class="media">
                {% if article.image %}
                    <a class="media-left" href="#"><img src="{{ article.image.url }}" alt="img" "height:auto;"></a>
                {% else %}
                    <a class="media-left" href="{{ article.url }}" target="_blank">
                        <img alt="img" src="https://placeholdit.imgix.net/~text?txtsize=42&txt=Serofero&w=450&h=200&txttrack=0">
                    </a>
                {% endif %}

                <div class="media-body">
                    <h3 class="heading"><a href="{{ article.url }}">{{ article.title }}</a></h3>

                    <div class="comments_box">
                        <span class="meta_date">14/12/2013</span>
                        <span class="meta_comment">
                            <a href="#">No Comments</a>
                        </span>
                        <p>{{ article.content }}</p>
                    </div>

                    {% if article.articles_list %}
                    <div class="similar_post">
                        <h2>Similar Articles</h2>
                        <ul style="visibility: visible; animation-name: fadeInDown;" class="small_catg similar_nav wow fadeInDown animated animated">
                            {% for sim_article in article.articles_list %}
                            <li>
                                <div class="media wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">
                                    <a class="media-left related-img" href="{{sim_article.url}}">
                                        {% if sim_article.image %}
                                        <img src="{{ sim_article.image.url }}" alt="img">
                                        {% else %}
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=42&txt=serofero&w=450&h=450&txttrack=0" alt="img">
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="{{sim_article.url}}">{{sim_article.title}}</a></h4> 
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="content_bottom_right">
	<!-- start single bottom rightbar -->
	<div class="single_bottom_rightbar">
		<h2>Popular Post</h2>
	  	<ul class="small_catg popular_catg wow fadeInDown">
	  		{% for article in popular %}
	    	<li>
	      		<div class="media wow fadeInDown">
                    {% if article.image %}
		        	    <a href="{{ article.url }}" class="media-left"><img alt="img" src="{{ article.image.url }}"></a>
                    {% endif %}
		        	<div class="media-body">
		          		<h4 class="media-heading"><a href="{{ article.url }}">{{ article.title }}</a></h4> 
		          		<p>{{ article.content }}</p>
		        	</div>
	      		</div>
	    	</li>
	    	{% endfor %}
	  	</ul>
	</div> <!-- End single bottom rightbar -->
</div>
{% endblock %}


{% block extrajs %}
{% endblock %}
